SQLALCHEMY_DATABASE_URI =
JWT_SECRET_KEY = 
ALGORITHM = 
ADMIN_SECRET_KEY =
ACCESS_TOKEN_EXPIRE_DAYS = 
REFRESH_TOKEN_EXPIRE_DAYS = 
MAIL_HOST = 
MAIL_USERNAME = 
MAIL_PASSWORD = 
MAIL_PORT =
FORGET_PASSWORD_LINK = 
FORGET_PASSWORD_LINK_EXPIRE_MINUTES = 
FORGET_PWD_SECRET_KEY = 